.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-Header {
  display: flex;
}

.App nav {
  display: flex;
  flex-direction: column;
  width: 60px;
}

.App nav button {
  width: 60px;
  margin: 5px 0;
}

h1 {
  font-weight: 500;
  padding-bottom: 30px;
  width: 100%;
}

.line {
  display: flex;
}